// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.name-of-the-project {
  font-family: 'Spirax', cursive;
}

div.log_in {
	padding-left: 500px;
	padding-top: 100px;
	padding-bottom: 120px;
	border: 1px solid #E8E8E8;
	width: 330px;
    padding: 50px;
    margin: 30px;
    margin-left: 500px;
    margin-top: 70px;
    border-radius: 10px;
}

h2.log {
	color: #4F4F4F;
	font-family: Verdana, sans-serif;
}